.user-input {
  margin-top: 10px;
  margin-right: 5px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #bc34e5;
  padding: 4px 0px;

}

.repoMain > h1 {
  color: #bc34e5;
}
h2 {
  margin-top: 10px;
}

h3 {
  margin-top: 10px;
}

p {
  margin-top: 5px;
  font-weight:600;
}

.back-btn {
  margin-top: 10px;
  text-align: center;
  border: 1px solid rgb(211, 173, 246);
  border-radius: 10px;
  font-size: 15px;
  padding: 6px;
  background-color: white;
}

.back-btn:hover {
  background-color: #A813FF;
  color: white;
}
