.user-input {
  margin-top: 10px;
  margin-right: 5px;
  text-align: center;
}

h1 {
  margin-top: 10px;
}

h3 {
  margin-top: 10px;
}

h3:hover {
  color: rgb(66, 66, 254);
  cursor: pointer;
  font-size: 25px;
}
